.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
    }
}
.about button{
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: green;
    cursor: pointer;
}